@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Meroitic:regular);

h3 {
    background-color: beige 
}


.facebook{
      background-color:#1d9bf0;
      font-weight: bolder;
      font-family: Arial, Helvetica;
      color: white;
      border: none;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 16px;
      padding-right: 16px;
      border-radius: 10px;
      cursor: pointer;
      margin-right: 10px;
      vertical-align: top;
}

.youtube{
    background-color:#f32626;
    font-weight: bolder;
    font-family: Arial, Helvetica;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    vertical-align: top;
}

.google{
    background-color:#71ca7a;
    font-weight: bolder;
    font-family: Arial, Helvetica;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    vertical-align: top;
}
